<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Galois" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>

    <!-- Begin MailChimp Signup Form -->

  </head>

  <body>


<div id="main-nav">
  <div class="row">
      <div class="twelve columns">
      <div id="logo" class="left animated fadeInDown">
         <a href="/"><%= image_tag "logo_mega.png" %></a>
      </div>
      
      <div id="mobile-toggle" class="show-for-small"><i class="entypo list"></i></div>
      <div id="nav-holder" class="right">
        <ul>
          <li><a href="#features-scroll" class="scroll">¿CÓMO FUNCIONA?</a></li>
          <li><a href="#gallery-scroll" class="scroll">JUEGOS</a></li>
          <!-- <li><a href="#pricing-scroll" class="scroll">Precios</a></li> -->
          <!-- <li><a href="#faq-scroll" class="scroll">F.A.Q</a></li> -->
        
          <li class= "divider"></li>
            <% if user_signed_in? %>
            <li>
              <%= link_to current_user.name , edit_user_registration_path %>
            </li>
            <li>
              <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
            </li>
            <% else %>
              <li>
                
              <%= link_to 'Regístrate Ahora', new_user_registration_path, class: "blue-btn" %>
            </li>
            
            <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

   <%= yield %>

   <section id="footer">
  <div class="row inner-section">
  
    <div class="three columns">
      <h5 class="footer-title">Más Información</h5>
      
      <ul>
        <li><a href="#features-scroll" class="scroll">¿Cómo Funciona?</a></li>
        <li><a href="#gallery-scroll" class="scroll">Juegos</a></li>
        <li><a href="#pricing-scroll" class="scroll">Precios</a></li>
        <li><a href="#faq-scroll" class="scroll">F.A.Q</a></li>
      </ul>
    </div>
    
    <div class="three columns">
      <h5 class="footer-title">¿Quiénes Somos?</h5>
      
      <p>
       Galois busca que millones de estudiantes en América Latina vuelvan a interesarse en estudiar matemáticas.
        </p>
    </div>
    
    <div class="three columns">
      <h5 class="footer-title">Suscríbete a nuestro Newsletter</h5>
      
    <form action="//galoisgames.us9.list-manage.com/subscribe/post?u=93bfbe6351be3f7f04cb16978&amp;id=f7e89d8d1e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<!--      <label for="mce-EMAIL">Subscribe to our mailing list</label>
-->       <input type="email" value="" name="EMAIL"  id="email_newsletter"          placeholder="Digita tu Email" class="form-control" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
           

                    <div class="clear"><input type="submit" value="Suscríbete" name="subscribe" id="mc-embedded-subscribe" class="blue-btn"></div>

          </form>
      
    </div>
    
    <div class="three columns text-right">
      <h5 class="footer-title">Contáctenos</h5>
      
      <div class="footer-social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        
      </div>
      <a href="/"><%= image_tag "logo_mega.png" %></a>
      
    </div>
  
  </div>
</section>

   
    
     
    
 
    <%= javascript_include_tag "application" %>
    <!-- Included JS Files (Compressed) -->
  <script src="assets/foundation.min.js"></script>
  
  <!-- Initialize JS Plugins -->
  <script src="assets/jquery.flexslider-min.js"></script>
  <script src="assets/inview.js"></script>
  <script src="assets/smooth-scroll.js"></script>
  <script src="assets/scripts.js"></script>

  </body>
</html>